/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Open Sans'sans-serif;
    font-weight: 700;
    color: white;
}

/* Provide sufficient contrast against white background */
a {
    color: #4680FE;
    font-weight: 700;
    text-decoration: none;
    margin-right: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #F8FAFF;
    font-family: 'Open Sans', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.home-heading {
    font-weight: 700;
    color: white;
    font-size: 80px;
    width: 75%;
    margin-left: 10%;
    /*color: #4680FE;*/
    margin-top: 20%;
}

.home-con {
    width: 100%;
    display: inline-flex;
    background-image: url(/img/background_people.jpg);
    margin-bottom: -40px;
    background-size: cover;
    height: 600px;
}

.about-con {
    width: 100%;
    display: inline-flex;
    background-image: url(/img/background_box.png);
    margin-bottom: -40px;
    background-size: cover;
    height: 560px;
}

.home-img {
    width: 50%;
    background-image: url(/img/home_hand.png);
    background-size: cover;
    height: 470px;
}

.navbar-nav {
    font-weight: 600;
}

.main-con {
    width: 100%;
    margin-top: -40px;
}

.card {
    border: 1px solid rgba(228, 236, 255, 1) !important;
    border-radius: 20px !important;
    margin-top: 30px;
}

.card-title{
    font-weight: 700;
    font-size: 22px;
}

.card-text{
    font-size: 14px;
}

.card-date {
    font-size: 12px;
    color: #D6D9E0;
    margin-top: 20px;
}

/* Button */

.card-btns{
    margin-bottom: 20px;
    margin-right: 10px;
}

.btn {
    border: none;
    padding: 10px 14px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    float: right;
    border-radius: 14px !important;
}

.btn:focus {
    outline: none !important;
}

.edit {
    background-color: #B9CFFF;
    color: #4680FE;
}

.edit:hover {
    background-color: #97B8FF;
    color: #4680FE;
}

.details {
    background-color: #FDEDC0;
    color: #FFCC40;
}

.details:hover {
    background-color: #FFE9AB;
    color: #FFCC40;
}


.delete {
    background-color: #FFC5D0;
    color: #FB607E;
}

.delete:hover {
    background-color: #FFA7B8;
    color: #FB607E;
}

/* Needs */

.need-head {
    font-size: 25px;
    font-weight: 700;
}

.add {
    font-weight: 700;
    font-size: 16px;
    color: #4680FE;
    float: right;
}

.plus{
    margin-right: 5px;
}

a{
    text-decoration: none !important;
}

.head{
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 40px;
}

.need-img {
    display: inline-flex;
    background-image: url(/img/need.png);
    background-size: cover;
    height: 800px;
}

.donate-img {
    display: inline-flex;
    background-image: url(/img/donate.png);
    background-size: cover;
    height: 800px;
}

/* Login */

.logo-con{
    text-align: center;
}

.logo-con img{
    width: 20px;
    height: 20px;
}

.about-heading {
    width: 50%;
    margin-left: 10%;
    text-align:right;
    margin-right: 11%;
    color: white;
    margin-top: 40px;
}

.heading {
    margin-top: 15%;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 30px;
}

.about-img {
    width: 50%;
    background-image: url(/img/about_hand.png);
    background-size: cover;
    height: 470px;
}

.about {
    width: 50%;
}

/*=== Trigger  ===*/
.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*===  Delays ===*/
.one {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.two {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.three {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.four {
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}


/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}