@{
    ViewData["Title"] = "Home Page";
}

<div class="home-con">
    <div class="about-img animate fadeInLeft one"></div>
    <div class="about-heading animate fadeInRight one">
        <h1 class="display-4 heading">About us</h1>
        <p>
            The current pandemic has left members of our community hopeless.<br /> These members are experiencing a lack of the means necessary to meet their basic needs, such as water, food, and hygiene.
            <br /><br />CommuNeedy is a middle-man platform developed to mediate <br />the connection between people who have the means<br /> to donate and those who are in need.
        </p>
    </div>
</div>
<div class="container animate fadeInLeft two">
    <div class="row col-lg-6 col-md-8" style="margin-top: 20px; margin-bottom: 10px;">
        <h1 class="need-head">Our partners</h1>
        <p style="margin-top: 20px;">CommuNeedy has partnered with companies to ensure these donations reach those in need. A donor can choose to donate either water and food, hygiene products, blankets or petrol. The donations made will allow these companiens to serve the community.</p>
    </div>
    <div class="row" style="margin-bottom: 60px;">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <img src="~/img/pick.png" class="card-img-top" alt="picknpay" style="height: 110px; border-top-right-radius: 20px; border-top-left-radius: 20px;">
                <div class="card-body">
                    <h5 class="card-title">Pick n Pay</h5>
                    <p class="card-text">Provides our commnunity with fresh water and food, and warm blankets.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <img src="~/img/clicks.png" class="card-img-top" alt="clicks" style="height: 110px; border-top-right-radius: 20px; border-top-left-radius: 20px; ">
                <div class="card-body">
                    <h5 class="card-title">Clicks</h5>
                    <p class="card-text">Ensures are community receives the best hygiene products.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <img src="~/img/engen.png" class="card-img-top" alt="engen" style="height: 110px; border-top-right-radius: 20px; border-top-left-radius: 20px;">
                <div class="card-body">
                    <h5 class="card-title">Engen</h5>
                    <p class="card-text">Aims to mobilise our community with the petrol they provide.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-lg-6 col-md-8" style="margin-top: 20px; margin-bottom: 10px;">
        <h1 class="need-head">What can you do?</h1>
    </div>
    <div class="row col-lg-6 col-md-8" style="margin-top: 20px; margin-bottom: 10px;">
        <h3 style="font-size: 22px; font-weight: 700; color:#4680FE">Donate</h3>
        <p style="margin-top: 20px;">
            All donations must be made in cash. Donors can choose to donate to which ever need, according to the specific category listed below. Our partners will ensure that these donations reach the specific person in need. Donors will receive an email with a photo attached to confirm that the donation was received.
        </p>
    </div>
    <div class="row" style="margin-bottom: 60px;">
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Water and Food</h5>
                    <p class="card-text">Donate money for water and food parcels.</p>
                </div>
                <div class="card-btns">
                    <a class="btn btn-primary edit" href="#" role="button"><i class="fa fa-cutlery"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hygiene products</h5>
                    <p class="card-text">Donate money for hygiene parcels.</p>
                </div>
                <div class="card-btns">
                    <a class="btn btn-primary details" href="#" role="button"><i class="fa fa-shower"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Blankets</h5>
                    <p class="card-text">Donate money for warm blankets.</p>
                </div>
                <div class="card-btns">
                    <a class="btn btn-primary delete" href="#" role="button"><i class="fa fa-bed"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Petrol</h5>
                    <p class="card-text">Donate money for petrol or diezel.</p>
                </div>
                <div class="card-btns">
                    <a class="btn btn-primary edit" href="#" role="button"><i class="fa fa-car"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-lg-6 col-md-8" style="margin-top: 20px; margin-bottom: 10px;">
        <h3 style="font-size: 22px; font-weight: 700; color:#4680FE">Post your need</h3>
        <p style="margin-top: 20px;">If you have posted a need request and your need has been attended to, you should make sure to collect your donation at the specific pick-up-point which will be assigned to you in a confirmation email. </p>
    </div>
    <div class="row" style="margin-bottom: 80px;">
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cry out for help</h5>
                    <p class="card-text">Post your needs on this platform so we can help you.</p>
                </div>
                <div class="card-btns">
                    <a class="btn btn-primary delete" href="#" role="button"><i class="fa fa-child"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Collect your donation parcel</h5>
                    <p class="card-text">Collect your parcel at the assigned pick up point.</p>
                </div>
                <div class="card-btns">
                    <a class="btn btn-primary edit" href="#" role="button"><i class="fa fa-cube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>





