@{
    ViewData["Title"] = "Home Page";
}

<div class="home-con">
    <h1 class="display-4 home-heading">Connecting the community in need hello</h1>
    <div class="logged-in-img"></div>
    <div></div>
    <div></div>
    <div></div>
</div>

