@{
    ViewData["Title"] = "Home Page";
}

<div class="home-con">
    <h1 class="display-4 home-heading">Connecting the community in need</h1>
    <div class="home-img"></div>
</div>
<div class="row" style="width: 80%; margin-left: 10%; margin-bottom: 50px;">
    <div class="col-lg-3 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Make a difference</h5>
                <p class="card-text">You can make a difference by donating to families in the community who need it most.</p>
            </div>
            <div class="card-btns">
                <a class="btn btn-primary edit" href="#" role="button"><i class="fa fa-heart"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cry out</h5>
                <p class="card-text">Use this platform to cry out for help. We want to attend to your basic needs.</p>
            </div>
            <div class="card-btns">
                <a class="btn btn-primary delete" href="#" role="button"><i class="fa fa-comment"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Act now</h5>
                <p class="card-text">Getting involved and taking action is the critical part. This is where impact and vision blend.</p>
            </div>
            <div class="card-btns">
                <a class="btn btn-primary details" href="#" role="button"><i class="fa fa-puzzle-piece"></i></a>
            </div>
        </div>
    </div>
</div>
