@model CommuNeedy.Models.UserRegistrationModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center align-items-center" style="margin-top:-20px; margin-bottom: 100px;">
        <div class="col-lg-6 col-md-8">
            <div class="card" style="padding: 60px;">
                <div class="logo-con" style="text-align: center;">
                    <img class="logo" alt="logo" src="~/img/logo.png" style="width: 100px;" />
                    <h2 class="logo-title" style="font-weight: 700;margin-top: 10px;">CommuNeedy</h2>
                </div>
                <div class="card-body" style="margin-top:-10px;">
                    <form asp-action="Register">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" style="border: 1px solid #E4ECFF;" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" style="border: 1px solid #E4ECFF;" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" style="border: 1px solid #E4ECFF;" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" style="border: 1px solid #E4ECFF;" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" style="border: 1px solid #E4ECFF;" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" style="padding-left: 50px !important; background-color: #4680FE !important; padding-right: 50px !important; border-radius: 8px !important; font-weight: 600 !important; margin-right: 0px" />
                        </div>
                    </form>
                    <div>
                        <a asp-action="Index">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}